* {
    font-family: "Roboto";
  }
  
  html,
  body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #020e26;
  }
  
  .container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    perspective: 90rem;
    perspective-origin: 30% 60%;
  }
@keyframes animasyon{
  0% {transform: rotateX(10deg) rotateY(15deg) rotateZ(-9deg) scale3d(1, 1, -0.9)
    scale(1.1) translateX(50px);}
  50% {transform: rotateX(10deg) rotateY(15deg) rotateZ(-9deg) scale3d(1, 1, -0.9)
    scale(1.1) translateX(500px);}
  100% {transform: rotateX(10deg) rotateY(15deg) rotateZ(-9deg) scale3d(1, 1, -0.9)
    scale(1.1) translateX(50px);}
}
@keyframes animasyonDefault{
  100% {transform: rotateX(10deg) rotateY(15deg) rotateZ(-9deg) scale3d(1, 1, -0.9)
    scale(1.1) translateX(50px);}

}

  .div-transform {
    display: flex;
    transform: rotateX(10deg) rotateY(15deg) rotateZ(-9deg) scale3d(1, 1, -0.9)
      scale(1.1) translateX(50px);
    animation-name: animasyonDefault;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
  
  .card {
    background: url("/public/image.jpg") center;
    color: #ffffff;
    border-radius: 8px;
    padding: 0px 18px;
    width: 244px;
    transition: 0.5s ease;
    overflow: hidden;
    transform: translate(0);
  }
  
  .card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0.85;
  }
  
  .card:hover{
    cursor: pointer;
  }
  .card h2 {
    text-transform: capitalize;
  }
  
  .card h4 {
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 48px;
  }
  
  .card-1 {
    background: url("/public/images/3dbuttons_unity.png") center;
    background-size: cover;
    transform: scale(1.02);
    margin-right: 40px;
  }
  
  .card-1:hover {
    transform: scale(1.11);
    box-shadow: -7px 4px 28px -3px #b527cf;
  }
  
  .card-1::before {
    background: linear-gradient(90deg, #b527cf 0%, #3546f0 100%);
  }
  
  .card-2 {
    background: url("/public/images/3dbuttons_python.png") center;
    background-size: cover;
    transform: scale(1.01);
    margin-right: 31px;
  }
  
  .card-2:hover {
    transform: scale(1.1);
    box-shadow: -7px 4px 28px -3px #3bd9d9;
  }
  
  .card-2::before {
    background: linear-gradient(90deg, #3bd9d9 0%, #8035f0 100%);
  }
  
  .card-3 {
    background: url("/public/images/3dbuttons_r.png") center;
    background-size: 175%;
  }
  
  .card-3:hover {
    transform: scale(1.08);
    box-shadow: -7px 4px 28px -3px #ff9500;
  }
  
  .card-3::before {
    background: linear-gradient(90deg, #ff9500 0%, #d5cb0f 100%);
  }

  .card-4 {
    background: url("/public/images/3dbuttons_sql.webp") center;
    background-repeat: no-repeat;
    background-size: 175%;
    transform: scale(0.99);
    margin-left: 22px;
  }
  
  .card-4:hover {
    transform: scale(1.07);
    box-shadow: -7px 4px 28px -3px #36f536;
  }
  
  .card-4::before {
    background: linear-gradient(90deg, #36f536 0%, #71dd71 100%);
  }


